<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/moodLogSplash.css">
    <script src="../js/jquery-1.11.0.js"></script>

</head>
<body style="margin: 0;">
  <div class="icon-bar">
		<h2>GETTING STARTED</h2>
	</div>

  <div class="main-content-area">
    <div class="image-location">
      <img id="site-logo-happy" src='images/logo.png' width=80 alt='Logo for Common Ground'/>
      <img id="site-logo-sad" src='images/white-logo-sad.png' width=80 alt='Opposite Logo for Common Ground'/>
    </div>
    <div class="title-text-area">
			<div class="tips-title">Tips</div>
		</div>
    <div class="tips-text-area">
			<p>Hey, to give you a space to express your feelings we ask that you fill out the mood log everyday.</p>
      <p>Please respond to the mood question in the context of the current issue. These questions will automatically open each time you enter a issue page.</p>
		</div>
  </div>

	<a href="./daily-mood"><button class="filled-in">Lets Go</button></a>

</body>
</html>
